.root {
    position: relative;
    box-sizing: border-box;

    max-width: 768px;
    height: 100%;

    margin: 0 auto;
    padding: 40px 2rem;
    text-align: center;
    z-index: 2;
}

.background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: #2B2B2B;
    opacity: 0.8;
    z-index: 1;
}

.songList {
    position: relative;
    display: flex;
    flex-direction: column;

    max-height: 100%;
    box-sizing: border-box;
    padding: 0 0 60px;
    overflow: scroll;

    row-gap: 20px;
}

.songList::-webkit-scrollbar {
    display: none;
}

.songListHeader {
    border: 1px solid #3B3B3B;
    border-radius: 20px;

    padding: 12px 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 30px 1fr 60px;
    align-items: center;
    justify-items: start;
    grid-column-gap: 15px;
}

.songListHeader > div {
    font-family: Space Mono, monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #858584;
}

.songLine {
    background: #3B3B3B;
    border-radius: 20px;

    padding: 12px 20px;

    display: grid;
    grid-template-columns: 30px 1fr 60px;
    align-items: center;
    justify-items: start;
    grid-column-gap: 15px;
}

.songLinePosition {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 100%;

    background: #2B2B2B;

    font-family: Space Mono, monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #858584;

}

.songLineAvatar {
    width: 60px;
    height: 60px;

    background-color: #2B2B2B;
    border-radius: 20px;
}

.songLineName {
    display: flex;
    align-items: center;
    column-gap: 20px;

    font-family: Work Sans, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;
}

.songLineRating {
    justify-self: center;

    font-family: Space Mono, monospace;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}

.refreshIcon {
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    background-color: #3B3B3B;
    border-radius: 100%;
}

.refreshIcon > svg {
    position: relative;
    left: 1px;
}